/* styles.css */

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px; 
    top:100px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-blog {
    display: flex;
    align-items: center;
}

.logo-blog img {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    margin-right: 10px;
}


.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo-text {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* Estilos para article */

article {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.anchor-target::before {
    content: "";
    display: block;
    height: 100px; /* Ajusta este valor según la altura de tu header */
    margin-top: -95px; /* Debe ser el mismo valor que height */
  }

.post-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.post-title {
    font-size: 2.5em;
    margin-bottom: 10px;
}
.post-meta {
    display: flex;
    align-items: center;
    color: #666;
}
.author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.post-content {
    font-size: 1.1em;
    text-align: justify;
}

/* estilos para las tarjetas */

.training-programs {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.training-programs h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}

.training-programs > p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 40px;
}

.program-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: calc(33.333% - 20px);
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h2 {
    font-size: 1.5em;
    color: #333;
    margin: 20px 0 10px;
    padding: 0 20px;
}

.card p {
    font-size: 1em;
    color: #666;
    padding: 0 20px;
    margin-bottom: 20px;
}

.read-more {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}

/* Estilos para el menú de hamburguesa */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 2px 0;
    transition: 0.4s;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: flex;
        align-self: flex-end;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    /* Animación para el menú de hamburguesa */
    .menu-toggle.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0; /* Evita que el footer se encoja */
}

footer a:any-link {
    text-decoration: none; color:white
}

.social-icons {
    margin-bottom: 5px;
}

.social-icons a {
    color: #fff;
    font-size: 18px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}

.copyright {
    font-size: 12px;
    margin: 0;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .social-icons a {
        font-size: 16px;
        margin: 0 8px;
    }
}

/* Estilos bloques de código */

pre {
    background-color: #eaeef3;
    border-radius: 10px;
    padding: 16px;
    overflow: auto;
    position: relative;
}
code {
    font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 15px;
    line-height: 1.5;
    counter-reset: line;
}
code .line {
    display: block;
    padding-left: 10px;
}

code .line:before {
    counter-increment: line;
    content: counter(line);
    position: absolute;
    left: 0px;
    color: #5e6574;
    text-align: right;
    width: 20px;
    padding-right: 10px;
    user-select: none;
}

.code-block {
    position: relative;
    margin-bottom: 20px;
}
.code-block::before {
    content: 'python';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3e4451;
    color: #abb2bf;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 0 10px 0 10px;
    z-index: 1;
}

/* Estilos para las figuras */

figure {
    margin: 0;
    padding: 0;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: left;
    font-size: 0.9em;
    color: #666;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

/* Estilos para referencias */

h1, h2 {
    color: #333;
}
.citation {
    vertical-align: middle;
    font-size: medium;
    color: rgb(0, 183, 255);
    text-decoration: none;
}
#references {
    margin-top: 40px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

/* Estilos del menú */

.menu-container {
    position: fixed;
    top: 100px;
    left: 20px;
    width: 250px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 15px;
  }

  .menu-container {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.menu-item {
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.menu-item:hover {
  background-color: #f5fffe;
}

.menu-item.active {
  font-weight: bold;
}

.blue-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #0bafd8;
}

.menu-item span {
  margin-left: 4px;
}

/* Hipervinculos */

a { text-decoration: none; }
a:any-link {text-decoration: none; color:black}
/* a:default {text-decoration: none;}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; } */